@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --primary-color: #ffc400;
  --filter-color: #c7c7c7;
  --text-color: #000000;
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--white-color);
}

body {
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-start: 0px;
  margin-bottom: 0;
}

a {
  display: inline-block;
  color: #252525;
  text-decoration: none !important;
}

a:hover {
  color: inherit;
}

::selection {
  color: #fff;
  background-color: var(--primary-color);
}

.container {
  max-width: 1440px;
  padding: 20px;
  margin: 0px auto;
}

.light-text {
  color: var(--primary-color);
}

.action-text {
  font-style: italic;
}

.padding-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.blink-type {
  width: 5px;
  height: 90px;
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: relative;
  top: 20px;
}

.hight-light-text {
  color: var(--primary-color);
}

.main__content_text .typed-cursor {
  width: 5px;
  height: 120px;
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: relative;
  top: 10px;
  margin-left: 5px;
}

.works__main__content .typed-cursor,
.about__main__content .typed-cursor {
  width: 5px;
  height: 80px;
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: relative;
  top: 15px;
  margin-left: 5px;
}

header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main__logo .logo-light,
.main__logo .logo-dark {
  transition: all 0.3s linear;
}

.main__logo {
  position: relative;
}

.main__logo .logo-light {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}

.main__logo:hover .logo-light {
  opacity: 1;
}

.main__logo:hover .logo-dark {
  opacity: 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-right: 100px;
}

.header__navigation a {
  font-size: 32px;
  font-weight: 700;
}

.header__navigation a {
  position: relative;
}

.header__navigation a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--primary-color);
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.header__navigation a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(0.65);
}

.header__navigation__controls img {
  width: 40px;
  height: 40px;
}

.main_content {
  padding-top: 200px;
  display: flex;
}

.main_content_social {
  margin-right: 100px;
  padding-bottom: 160px;
}

.main_content_social ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  gap: 40px;
}

.main_content_social ul li a {
  border-radius: 5px;
  transition: all 0.3s linear;
  width: 40px;
  height: 40px;
  padding: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main_content_social ul li img {
  width: 100%;
  height: auto;
}

.main_content_social ul li a:hover {
  background-color: var(--primary-color);
}

.main__content_text {
  position: relative;
  font-size: 128px;
  line-height: 160px;
  font-weight: 400;
  width: 100%;
  display: block;
}

.main__content_name {
  position: absolute;
  font-size: 128px;
  line-height: 160px;
  font-weight: 700;
  transform: rotate(-90deg);
  display: inline-block;
  top: 0px;
  right: 20%;
  cursor: pointer;
}

.main__content_name_text {
  position: absolute;
  font-size: 20px;
  display: inline-block;
  transform: rotate(90deg) translate(-50%, -50%);
  border-radius: 100rem;
  background-color: var(--primary-color);
  color: var(--white-color) !important;
  width: 160px;
  height: 160px;
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  top: 120%;
  left: 25%;
  opacity: 0;
  visibility: hidden;
}

#name_text__main:hover .main__content_name_text {
  opacity: 1;
  visibility: visible;
}

.footer .footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__content__text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer__content__text .footer__content__text__all {
  font-size: 24px;
  font-weight: 700;
}

.footer__content__social ul {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 60px;
}

.footer__content__social ul li a {
  border-radius: 5px;
  transition: all 0.3s linear;
  width: 40px;
  height: 40px;
  padding: 2px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer__content__social ul li img {
  width: 100%;
  height: auto;
}

.footer__content__social ul li a:hover {
  background-color: var(--primary-color);
}

.works__main__content {
  margin-top: 80px;
}

.works__action-text {
  font-size: 60px;
  line-height: 20px;
  font-weight: 700;
  height: 20px;
  display: inline-block;
}

.works__main__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
  gap: 20px;
  align-items: center;
}

.works__main__gallery__item {
  position: relative;
  width: 30%;
  text-align: center;
  overflow: hidden;
}

#tooltip {
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  padding: 10px 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1;
  text-align: left;
  transition: all .1s;
}

.works__main__gallery__item #tooltip p {
  font-size: 18px;
}

#tooltip.visibiTooltip {
  opacity: 1;
  visibility: visible;
}

.works__main__gallery__item img {
  width: 100%;
  margin: 0 auto;
  max-width: 305px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.3s linear;
}

.works__main__gallery__item img:hover {
  filter: grayscale(0%);
  transform: scale(1.01);
}

.about__main__content .about__main__introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about__main__content .about__main__introduction > div {
  width: 50%;
}

.about__main__content h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  height: 50px;
  display: inline-block;
  margin-bottom: 0px;
}

.about__main__content p {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 20px;
}

.about__main__content__avatar {
  text-align: center;
}

.about__main__content__avatar img {
  width: 100%;
  border-radius: 100%;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.about__main__experience {
  padding-top: 150px;
}

.about__main__experience__list div {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about__main__experience__list {
  margin-top: 100px;
}

.about__main__experience__list div:nth-child(1) {
  margin-left: 250px;
  margin-bottom: 80px;
}

.about__main__experience__list div:nth-child(2) {
  justify-content: flex-end;
  margin-right: 280px;
}

.about__main__experience__list img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.3s linear;
}

.about__main__experience__list img:hover {
  filter: grayscale(0%);
}

.about__main__help {
  padding: 200px 0;
}

.about__main__help__row {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.about__main__help__row::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 120%;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
}

.about__main__help__row div {
  padding: 0 100px;
}

.about__main__help__row h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 10px;
}

.about__main__contact {
  background-color: var(--text-color);
}

.about__main__contact__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about__main__contact__row > div {
  width: 50%;
}

.about__main__contact__form__text {
  color: var(--white-color);
}

.about__main__contact__form__text h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 20px;
}

.about__main__contact__form__text p {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

.about__main__contact__form {
  color: var(--white-color);
}

.about__main__contact__form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__main__contact__form form > div {
  display: flex;
  gap: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--white-color);
  padding-bottom: 5px;
}

.about__main__contact__form label {
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
}

.about__main__contact__form input {
  flex: 1;
  color: var(--white-color);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: 400 !important;
  line-height: 38px;
}

.about__main__contact__form button {
  font-size: 30px;
  font-weight: 700;
  width: 180px;
  margin-top: 30px;
  border-radius: 50px;
  padding: 10px 0px;
  color: var(--white-color);
  background-color: transparent;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s;
}

.about__main__contact__form button:hover {
  background-color: var(--white-color);
  color: var(--text-color);
}

.header__navigation__controls {
  font-size: 32px;
  cursor: pointer;
}

.fixed-header {
  position: fixed;
  background-color: var(--white-color);
  width: 100%;
  top: 0px;
  z-index: 99;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.fixed-header-scroll {
  transform: translateY(0%) !important;
}

.header__navigation__controls {
  display: none;
}

.nav {
  position: fixed;
  height: 100vh;
  background-color: var(--white-color);
  right: 0px;
  width: 240px;
  top: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 100;
  padding: 20px;
  transform: translateX(100%);
  transition: all 0.5s;
}

.nav-active {
  transform: translateX(0%);
}

.nav__main {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav__main a {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  position: relative;
}

.nav__main a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--primary-color);
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.nav__main a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(0.65);
}

.nav__controls {
  font-size: 24px;
  text-align: right;
  cursor: pointer;
  transition: all 0.3s;
}

.nav__controls:hover {
  color: var(--primary-color);
}

.md-hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  #tooltip.visibiTooltip {
    opacity: 0;
    visibility: hidden;
  }
  .header__navigation__controls {
    display: inline-block;
  }
  .header__navigation {
    display: none;
  }

  .main__content_text {
    font-size: 60px;
    line-height: 80px;
  }

  .main__content_name {
    right: 12%;
    top: -65px;
    font-size: 80px;
  }

  .main__content_text .typed-cursor {
    height: 80px;
  }

  .about__main__introduction {
    flex-wrap: wrap;
  }

  .about__main__content .about__main__introduction > div {
    width: 100%;
  }

  .about__main__experience__list div:nth-child(1) {
    margin: 0px;
    margin-bottom: 40px;
  }

  .about__main__experience__list div:nth-child(2) {
    margin: 0px;
  }

  .about__main__experience,
  .about__main__help {
    padding: 100px 0px;
  }

  .about__main__help__row {
    flex-wrap: wrap;
    gap: 80px;
  }

  .about__main__help__row div {
    padding: 0px 0px;
  }

  .about__main__help__row::after {
    width: 50%;
    height: 5px;
  }

  .about__main__contact__row {
    flex-wrap: wrap;
  }

  .about__main__contact__row > div {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main_content {
    padding-top: 40px;
  }

  .main__content_name {
    position: relative;
    transform: rotate(0deg);
    top: 0;
    right: 0;
  }
  .light-text action-text {
    display: block;
  }
  .md-hidden {
    display: block;
  }
  .main_content_social {
    margin-right: 40px;
  }

  .main__content_name_text {
    width: 120px;
    height: 120px;
    line-height: 100px;
    transform: rotate(0deg) translate(-50%, -50%);
    top: 50%;
    left: 100%;
  }

  .padding-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .works__action-text {
    font-size: 30px;
  }

  .works__main__content {
    margin-top: 0px;
  }

  .works__main__content .typed-cursor,
  .about__main__content .typed-cursor {
    height: 40px;
    top: 5px;
  }
  
  .about__main__experience__list div {
    flex-wrap: wrap;
  }

  .about__main__contact__form input {
    width: 100%;
  }
  
}

@media screen and (max-width: 450px) {
  .main_content {
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .main_content_social {
    margin-bottom: 30px;
  }

  .main_content_social ul {
    flex-direction: row;
  }

  .main__content_text {
    font-size: 40px;
    line-height: 60px;
  }

  .main__content_name {
    right: 0;
    top: 0;
    font-size: 60px;
    line-height: 100px;
  }

  .main__content_text .typed-cursor {
    height: 40px;
  }

  .about__main__content p {
    font-size: 18px;
    line-height: 30px;
  }

  .about__main__content h2 {
    font-size: 34px;
  }

  .about__main__help__row {
    margin-top: 50px;
  }
  
  .about__main__experience, .about__main__help {
    padding: 50px 0;
  }

  .about__main__experience__list img {
    width: 60px;
    height: 60px;
  }

  .about__main__experience__list div {
    gap: 10px;
  }
}
